
@{
    /*--------------Current user--------------*/

    ViewBag.Title = "Sing Up";
    ViatoremModel.User currentUser = (ViatoremModel.User)Session["user"];
    string welcome;
    welcome = (currentUser == null) ? "" : "Welcome " + currentUser.Username;
    string myProfile = "";
    string myTickets = "";
    string logoutPopup = "";
    string login = "";
    string userPath = "#";


}
@if (currentUser == null)
{
    myProfile = "";
    myTickets = "";
    logoutPopup = "Login";

}
else
{
    myTickets = "../User/MyTickets";
    myProfile = "../User/MyProfile";
    logoutPopup = "Logout";


}

<!--------------Home nav menu-------------->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="Index">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" name="log" value="log">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="About">About Us</a>
            <a class="nav-item nav-link" href="Contact">Contact</a>
        </div>
    </div>
</nav>

<!--------------Signup form-------------->

<div id="singupFormHome">
    <h2>Signup</h2>

    <div style="color:red; font-weight:bold">@ViewData["user_alert"]</div>
    @using (Html.BeginForm("Signup", "Home", FormMethod.Post))
    {

        <label>Username</label>
        <input class="form-control" type="text" name="username" required />
        <br>
        <label>Password</label>
        <input class="form-control" type="password" name="pass" required />
        <br>
        <label>Confirm Password</label>
        <input class="form-control" type="password" name="confirmPass" required />
        <br>
        <label>Email</label>
        <input class="form-control" type="text" name="email" required />
        <br>
        <button class="btn btn-default" type="submit" name="signup">Signup</button>

    }
</div>


